<!-- Header -->
<app-header></app-header>

<!-- Start Breadcrumbs -->
<app-breadcrumbs title="Order Confirm" [breadcrumbItems]="breadCrumbItems"></app-breadcrumbs>
<!-- End Breadcrumbs -->

<section class="section">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="card">
                    <div class="card-body p-4 p-md-5">
                        <div class="text-center">
                            <img src="assets/images/success-img.png" alt="" class="w-50" />
                        </div>
                        <div class="text-center mt-5 pt-1">
                            <h4 class="mb-3 text-capitalize">Your Order Is Completed !</h4>
                            <p class="text-muted mb-2">You will receive an order confirmation email with details of your
                                order.</p>
                            <p class="text-muted mb-0">Order ID: 267676GHERT105467</p>
                            <div class="mt-4 pt-2 hstack gap-2 justify-content-center">
                                <a routerLink="/shop/order-history" class="btn btn-primary btn-hover">View Order <i class="ri-arrow-right-line align-bottom ms-1"></i></a>
                                <a routerLink="/" class="btn btn-soft-danger btn-hover">Back To Home <i class="ri-home-4-line align-bottom ms-1"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<app-discount-footer [discount]="25"></app-discount-footer>

<app-features></app-features>

<!-- Footer -->
<app-footer></app-footer>