<div class="auth-header position-fixed top-0 start-0 end-0 bg-body">
    <div class="container-fluid">
        <div class="row justify-content-between align-items-center">
            <div class="col-2">
                <a class="navbar-brand mb-2 mb-sm-0" routerLink="/">
                    <img src="assets/images/logo-dark.png" class="card-logo card-logo-dark" alt="logo dark" height="22">
                    <img src="assets/images/logo-light.png" class="card-logo card-logo-light" alt="logo light" height="22">
                </a>
            </div><!---end col-->
            <div class="col-auto">
                <ul class="list-unstyled hstack gap-2 mb-0">
                    <li class="me-md-3">
                        <a href="javascript:void(0);" class="text-body fw-medium fs-15">Become a Selling</a>
                    </li>
                    <li class="d-none d-md-block">
                        <a href="javascript:void(0);" class="btn btn-soft-secondary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-google-play align-middle me-1"></i> Download App
                        </a>
                    </li>
                    <li class="d-none d-md-block">
                        <a href="javascript:void(0);" class="btn btn-soft-primary" data-bs-toggle="dropdown" aria-expanded="false">
                            <i class="bi bi-apple align-middle me-1"></i> Download App
                        </a>
                    </li>
                </ul>
            </div>
        </div><!--end row-->
    </div><!--end container-fluid-->
</div>