<!-- Start Breadcrumbs -->
<app-breadcrumb title="Buttons" [breadcrumbItems]="breadCrumbItems"></app-breadcrumb>
<!-- End Breadcrumbs -->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Default Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use the<code> p-button-*</code> styleClass to show the default button style.</p>
                <div class="d-flex flex-wrap gap-2">
                    <p-button label="Primary" styleClass="p-button-primary"></p-button>
                    <p-button label="Secondary" styleClass="p-button-secondary"></p-button>
                    <p-button label="Success" styleClass="p-button-success"></p-button>
                    <p-button label="Info" styleClass="p-button-info"></p-button>
                    <p-button label="Warning" styleClass="p-button-warning"></p-button>
                    <p-button label="Danger" styleClass="p-button-danger"></p-button>
                    <p-button label="help" styleClass="p-button-help"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup" style="height: 240px;"><code>&lt;!-- Base Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-primary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot; styleClass=&quot;p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-danger&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;help&quot; styleClass=&quot;p-button-help&quot;&gt;&lt;/p-button&gt;s</code></pre>
            </div>
        </div><!-- end card -->
    </div>
</div>

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Outline Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use <code>p-button-outlined p-button-*</code> styleClass with the below-mentioned
                    variation to create a
                    button with the outline.</p>
                <div class="d-flex flex-wrap gap-2">
                    <p-button label="Primary" styleClass="p-button-outlined p-button-primary"></p-button>
                    <p-button label="Secondary" styleClass="p-button-secondary p-button-outlined"></p-button>
                    <p-button label="Success" styleClass="p-button-outlined p-button-success"></p-button>
                    <p-button label="Info" styleClass="p-button-outlined p-button-info"></p-button>
                    <p-button label="Warning" styleClass="p-button-outlined p-button-warning"></p-button>
                    <p-button label="Danger" styleClass="p-button-outlined p-button-danger"></p-button>
                    <p-button label="Help" styleClass="p-button-outlined p-button-help"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 240px;"><code>&lt;!-- Outline Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-outlined p-button-primary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot; styleClass=&quot;p-button-secondary p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-outlined p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-outlined p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-outlined p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-outlined p-button-danger&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Help&quot; styleClass=&quot;p-button-outlined p-button-help&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
</div>

<div class="row">
    <div class="col-lg-21">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Rounded Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use the <code>p-button-* p-button-rounded </code>styleClass to make a rounded
                    button.</p>
                <div class="d-flex flex-wrap gap-2">
                    <p-button label="Primary" styleClass="p-button-primary p-button-rounded"></p-button>
                    <p-button label="Secondary" styleClass="p-button-secondary p-button-rounded"></p-button>
                    <p-button label="Success" styleClass="p-button-success p-button-rounded"></p-button>
                    <p-button label="Info" styleClass="p-button-info p-button-rounded"></p-button>
                    <p-button label="Warning" styleClass="p-button-warning p-button-rounded"></p-button>
                    <p-button label="Danger" styleClass="p-button-danger p-button-rounded"></p-button>
                    <p-button label="Help" styleClass="p-button-help p-button-rounded"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 240px;"><code>&lt;!-- Rounded Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-primary p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot; styleClass=&quot;p-button-secondary p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-success p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-info p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-warning p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-danger p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Help&quot; styleClass=&quot;p-button-help p-button-rounded&quot;&gt;&lt;/p-button&gt;F</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Ghost Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use <code>p-button-* p-button-text</code> styleClass with the below-mentioned
                    variation to create a
                    button with the transparent background.</p>
                <div class="d-flex flex-wrap gap-2">
                    <p-button label="Primary" styleClass="p-button-text"></p-button>
                    <p-button label="Secondary" styleClass="p-button-secondary p-button-text"></p-button>
                    <p-button label="Success" styleClass="p-button-success p-button-text"></p-button>
                    <p-button label="Info" styleClass="p-button-info p-button-text"></p-button>
                    <p-button label="Warning" styleClass="p-button-warning p-button-text"></p-button>
                    <p-button label="Danger" styleClass="p-button-danger p-button-text"></p-button>
                    <p-button label="Help" styleClass="p-button-help p-button-text"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 240px;"><code>&lt;!-- ghost Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot; styleClass=&quot;p-button-secondary p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-success p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-info p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-warning p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-danger p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Help&quot; styleClass=&quot;p-button-help p-button-text&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Raised Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use <code>p-button-raised p-button-* </code>styleClass to create a raised button.
                </p>
                <div class="d-flex flex-wrap gap-2">
                    <p-button label="Primary" styleClass="p-button-raised"></p-button>
                    <p-button label="Secondary" styleClass="p-button-raised p-button-secondary"></p-button>
                    <p-button label="Success" styleClass="p-button-raised p-button-success"></p-button>
                    <p-button label="Info" styleClass="p-button-raised p-button-info"></p-button>
                    <p-button label="Warning" styleClass="p-button-raised p-button-warning"></p-button>
                    <p-button label="Help" styleClass="p-button-raised p-button-help"></p-button>
                    <p-button label="Danger" styleClass="p-button-raised p-button-danger"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 240px;"><code>&lt;!-- Gradient Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot; styleClass=&quot;p-button-raised p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-raised p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-raised p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-raised p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Help&quot; styleClass=&quot;p-button-raised p-button-help&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-raised p-button-danger&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Raised Text Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Text buttons can be displayed as raised for elevation.</p>
                <div class="d-flex flex-wrap gap-2">

                    <p-button label="Primary" styleClass="p-button-raised p-button-text"></p-button>
                    <p-button label="Secondary"
                        styleClass="p-button-raised p-button-text p-button-secondary"></p-button>
                    <p-button label="Success" styleClass="p-button-raised p-button-text p-button-success"></p-button>
                    <p-button label="Info" styleClass="p-button-raised p-button-text p-button-info"></p-button>
                    <p-button label="Warning" styleClass="p-button-raised p-button-text p-button-warning"></p-button>
                    <p-button label="Help" styleClass="p-button-raised p-button-text p-button-help"></p-button>
                    <p-button label="Danger" styleClass="p-button-raised p-button-text p-button-danger"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 240px;"><code>&lt;!-- Animation Buttons --&gt;
&lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-raised p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Secondary&quot;
    styleClass=&quot;p-button-raised p-button-text p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-raised p-button-text p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Info&quot; styleClass=&quot;p-button-raised p-button-text p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-raised p-button-text p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Help&quot; styleClass=&quot;p-button-raised p-button-text p-button-help&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Danger&quot; styleClass=&quot;p-button-raised p-button-text p-button-danger&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Buttons with Label</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use <code>btn-label </code>class to create a button with the label.</p>
                <div class="row">
                    <div class="col-lg-4">
                        <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                            <p-button label="Primary" styleClass="p-button-primary"
                                icon="ri-user-smile-line"></p-button>
                            <p-button label="Success" styleClass="p-button-success"
                                icon="ri-check-double-line"></p-button>
                            <p-button label="Warning" styleClass="p-button-warning"
                                icon="ri-error-warning-line"></p-button>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-4">
                        <div class="d-flex flex-wrap gap-2 mb-3 mb-lg-0">
                            <p-button label="Primary" icon="ri-user-smile-line"
                                styleClass="p-button-rounded"></p-button>
                            <p-button label="Success" icon="ri-check-double-line"
                                styleClass="p-button-rounded p-button-success"></p-button>
                            <p-button label="Warning" icon="ri-error-warning-line"
                                styleClass="p-button-rounded p-button-warning"></p-button>
                        </div>
                    </div>
                    <!--end col-->
                    <div class="col-lg-4">
                        <div class="d-flex flex-wrap gap-2">
                            <p-button label="Primary" icon="ri-user-smile-line"
                                styleClass="p-button-primary"></p-button>
                            <p-button label="Success" icon="ri-check-double-line"
                                styleClass="p-button-rounded p-button-success"></p-button>
                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup" style="height: 240px;"><code>&lt;!-- Buttons with Label --&gt;
                        &lt;div class=&quot;col-lg-4&quot;&gt;
                        &lt;div class=&quot;d-flex flex-wrap gap-2 mb-3 mb-lg-0&quot;&gt;
                            &lt;p-button label=&quot;Primary&quot; styleClass=&quot;p-button-primary&quot;
                                icon=&quot;ri-user-smile-line&quot;&gt;&lt;/p-button&gt;
                            &lt;p-button label=&quot;Success&quot; styleClass=&quot;p-button-success&quot;
                                icon=&quot;ri-check-double-line&quot;&gt;&lt;/p-button&gt;
                            &lt;p-button label=&quot;Warning&quot; styleClass=&quot;p-button-warning&quot;
                                icon=&quot;ri-error-warning-line&quot;&gt;&lt;/p-button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--end col--&gt;
                    &lt;div class=&quot;col-lg-4&quot;&gt;
                        &lt;div class=&quot;d-flex flex-wrap gap-2 mb-3 mb-lg-0&quot;&gt;
                            &lt;p-button label=&quot;Primary&quot; icon=&quot;ri-user-smile-line&quot;
                                styleClass=&quot;p-button-rounded&quot;&gt;&lt;/p-button&gt;
                            &lt;p-button label=&quot;Success&quot; icon=&quot;ri-check-double-line&quot;
                                styleClass=&quot;p-button-rounded p-button-success&quot;&gt;&lt;/p-button&gt;
                            &lt;p-button label=&quot;Warning&quot; icon=&quot;ri-error-warning-line&quot;
                                styleClass=&quot;p-button-rounded p-button-warning&quot;&gt;&lt;/p-button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;
                    &lt;!--end col--&gt;
                    &lt;div class=&quot;col-lg-4&quot;&gt;
                        &lt;div class=&quot;d-flex flex-wrap gap-2&quot;&gt;
                            &lt;p-button label=&quot;Primary&quot; icon=&quot;ri-user-smile-line&quot;
                                styleClass=&quot;p-button-primary&quot;&gt;&lt;/p-button&gt;
                            &lt;p-button label=&quot;Success&quot; icon=&quot;ri-check-double-line&quot;
                                styleClass=&quot;p-button-rounded p-button-success&quot;&gt;&lt;/p-button&gt;
                        &lt;/div&gt;
                    &lt;/div&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Load More Buttons</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Example of loading buttons.</p>
                <div class="row">
                    <div class="col-lg-6">
                        <div class="hstack flex-wrap gap-2 mb-3 mb-lg-0">
                            <p-button label="Loading..." [loading]="true"
                                styleClass="p-button-outlined p-button-primary"></p-button>
                            <p-button label="Loading..." [loading]="true" styleClass="p-button-success"></p-button>
                            <p-button label="Loading..." [loading]="true"
                                styleClass="p-button-outlined p-button-secondary"></p-button>
                            <p-button label="Loading..." [loading]="true" styleClass="p-button-danger"></p-button>

                        </div>
                    </div>
                    <!--end col-->
                </div>
                <!--end row-->
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"
                    style="height: 310px;"><code>&lt;!-- Load More Buttons --&gt;
&lt;p-button label=&quot;Loading...&quot; [loading]=&quot;true&quot;
styleClass=&quot;p-button-outlined p-button-primary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Loading...&quot; [loading]=&quot;true&quot; styleClass=&quot;p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Loading...&quot; [loading]=&quot;true&quot;
styleClass=&quot;p-button-outlined p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Loading...&quot; [loading]=&quot;true&quot; styleClass=&quot;p-button-danger&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Icon Only</h4>
            </div><!-- end card header -->
            <div class="card-body">

                <p>Buttons can have icons without labels.</p>

                <div class="hstack gap-2 flex-wrap">
                    <p-button icon="pi pi-check"></p-button>
                    <p-button icon="pi pi-bookmark" styleClass="p-button-secondary"></p-button>
                    <p-button icon="pi pi-search" styleClass="p-button-success"></p-button>
                    <p-button icon="pi pi-user" styleClass="p-button-info"></p-button>
                    <p-button icon="pi pi-bell" styleClass="p-button-warning"></p-button>
                    <p-button icon="pi pi-heart" styleClass="p-button-help"></p-button>

                    <p-button icon="pi pi-check" styleClass="p-button-rounded"></p-button>
                    <p-button icon="pi pi-bookmark" styleClass="p-button-rounded p-button-secondary"></p-button>
                    <p-button icon="pi pi-search" styleClass="p-button-rounded p-button-success"></p-button>
                    <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info"></p-button>
                    <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-warning"></p-button>
                    <p-button icon="pi pi-heart" styleClass="p-button-rounded p-button-help"></p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger"></p-button>

                    <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-outlined"></p-button>
                    <p-button icon="pi pi-bookmark"
                        styleClass="p-button-rounded p-button-secondary p-button-outlined"></p-button>
                    <p-button icon="pi pi-search"
                        styleClass="p-button-rounded p-button-success p-button-outlined"></p-button>
                    <p-button icon="pi pi-user"
                        styleClass="p-button-rounded p-button-info p-button-outlined"></p-button>
                    <p-button icon="pi pi-bell"
                        styleClass="p-button-rounded p-button-warning p-button-outlined"></p-button>
                    <p-button icon="pi pi-heart"
                        styleClass="p-button-rounded p-button-help p-button-outlined"></p-button>
                    <p-button icon="pi pi-times"
                        styleClass="p-button-rounded p-button-danger p-button-outlined"></p-button>

                    <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-bookmark"
                        styleClass="p-button-rounded p-button-secondary p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-search"
                        styleClass="p-button-rounded p-button-success p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-user"
                        styleClass="p-button-rounded p-button-info p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-bell"
                        styleClass="p-button-rounded p-button-warning p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-heart"
                        styleClass="p-button-rounded p-button-help p-button-text p-button-raised"></p-button>
                    <p-button icon="pi pi-times"
                        styleClass="p-button-rounded p-button-danger p-button-text p-button-raised"></p-button>

                    <p-button icon="pi pi-check" styleClass="p-button-rounded p-button-text"></p-button>
                    <p-button icon="pi pi-bookmark"
                        styleClass="p-button-rounded p-button-secondary p-button-text"></p-button>
                    <p-button icon="pi pi-search"
                        styleClass="p-button-rounded p-button-success p-button-text"></p-button>
                    <p-button icon="pi pi-user" styleClass="p-button-rounded p-button-info p-button-text"></p-button>
                    <p-button icon="pi pi-bell" styleClass="p-button-rounded p-button-warning p-button-text"></p-button>
                    <p-button icon="pi pi-heart" styleClass="p-button-rounded p-button-help p-button-text"></p-button>
                    <p-button icon="pi pi-times" styleClass="p-button-rounded p-button-danger p-button-text"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre
                    class="language-markup"><code>&lt;!-- Buttons Grid --&gt;
&lt;p-button icon=&quot;pi pi-check&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bookmark&quot; styleClass=&quot;p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-search&quot; styleClass=&quot;p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-user&quot; styleClass=&quot;p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bell&quot; styleClass=&quot;p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-heart&quot; styleClass=&quot;p-button-help&quot;&gt;&lt;/p-button&gt;

&lt;p-button icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-rounded&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bookmark&quot; styleClass=&quot;p-button-rounded p-button-secondary&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-search&quot; styleClass=&quot;p-button-rounded p-button-success&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-user&quot; styleClass=&quot;p-button-rounded p-button-info&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bell&quot; styleClass=&quot;p-button-rounded p-button-warning&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-heart&quot; styleClass=&quot;p-button-rounded p-button-help&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-times&quot; styleClass=&quot;p-button-rounded p-button-danger&quot;&gt;&lt;/p-button&gt;

&lt;p-button icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-rounded p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bookmark&quot;
    styleClass=&quot;p-button-rounded p-button-secondary p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-search&quot;
    styleClass=&quot;p-button-rounded p-button-success p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-user&quot;
    styleClass=&quot;p-button-rounded p-button-info p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bell&quot;
    styleClass=&quot;p-button-rounded p-button-warning p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-heart&quot;
    styleClass=&quot;p-button-rounded p-button-help p-button-outlined&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-times&quot;
    styleClass=&quot;p-button-rounded p-button-danger p-button-outlined&quot;&gt;&lt;/p-button&gt;

&lt;p-button icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-rounded p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bookmark&quot;
    styleClass=&quot;p-button-rounded p-button-secondary p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-search&quot;
    styleClass=&quot;p-button-rounded p-button-success p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-user&quot;
    styleClass=&quot;p-button-rounded p-button-info p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bell&quot;
    styleClass=&quot;p-button-rounded p-button-warning p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-heart&quot;
    styleClass=&quot;p-button-rounded p-button-help p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-times&quot;
    styleClass=&quot;p-button-rounded p-button-danger p-button-text p-button-raised&quot;&gt;&lt;/p-button&gt;

&lt;p-button icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-rounded p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bookmark&quot;
    styleClass=&quot;p-button-rounded p-button-secondary p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-search&quot;
    styleClass=&quot;p-button-rounded p-button-success p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-user&quot; styleClass=&quot;p-button-rounded p-button-info p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-bell&quot; styleClass=&quot;p-button-rounded p-button-warning p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-heart&quot; styleClass=&quot;p-button-rounded p-button-help p-button-text&quot;&gt;&lt;/p-button&gt;
&lt;p-button icon=&quot;pi pi-times&quot; styleClass=&quot;p-button-rounded p-button-danger p-button-text&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Buttons Sizes</h4>
            </div><!-- end card header -->
            <div class="card-body">
                <p class="text-muted">Use <code>Large</code> label to create a large size button and
                    <code>Small</code> label to create a small size button.
                </p>
                <div class="d-flex flex-wrap align-items-center gap-2">
                    <!-- Small Button -->
                    <p-button label="Small" icon="pi pi-check" styleClass="p-button-sm"></p-button>
                    <p-button label="Normal" icon="pi pi-check" styleClass="p-button"></p-button>
                    <!-- Large Button -->
                    <p-button label="Large" icon="pi pi-check" styleClass="p-button-lg"></p-button>
                </div>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup">
<code>&lt;!-- Large Button --&gt;
&lt;!-- Small Button --&gt;
&lt;p-button label=&quot;Small&quot; icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-sm&quot;&gt;&lt;/p-button&gt;
&lt;p-button label=&quot;Normal&quot; icon=&quot;pi pi-check&quot; styleClass=&quot;p-button&quot;&gt;&lt;/p-button&gt;
&lt;!-- Large Button --&gt;
&lt;p-button label=&quot;Large&quot; icon=&quot;pi pi-check&quot; styleClass=&quot;p-button-lg&quot;&gt;&lt;/p-button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->


<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-header">
                <h4 class="card-title mb-0">Button Set</h4>
            </div><!-- end card header -->
            <div class="card-body">

                <p>Multiple buttons are grouped when wrapped inside an element with
                    <code>&lt;i&gt;p-buttonset&lt;/i&gt;</code> class.
                </p>

                <span class="p-buttonset">
                    <button pButton pRipple label="Save" icon="pi pi-check"></button>
                    <button pButton pRipple label="Delete" icon="pi pi-trash"></button>
                    <button pButton pRipple label="Cancel" icon="pi pi-times"></button>
                </span>
            </div><!-- end card-body -->
            <div class="card-body bg-light border-bottom border-top bg-opacity-25">
                <h5 class="fs-12 text-muted mb-0">HTML Preview</h5>
            </div>
            <div class="card-body">
                <pre class="language-markup"><code>&lt;!-- Buttons Grid --&gt;
&lt;button pButton pRipple label=&quot;Save&quot; icon=&quot;pi pi-check&quot;&gt;&lt;/button&gt;
&lt;button pButton pRipple label=&quot;Delete&quot; icon=&quot;pi pi-trash&quot;&gt;&lt;/button&gt;
&lt;button pButton pRipple label=&quot;Cancel&quot; icon=&quot;pi pi-times&quot;&gt;&lt;/button&gt;</code></pre>
            </div>
        </div><!-- end card -->
    </div>
    <!--end col-->
</div>
<!--end row-->