<!-- Header -->
<app-header></app-header>

<section class="ecommerce-about" style="background-image: url('assets/images/profile-bg.jpg'); background-size: cover; background-position: center;">
    <div class="bg-overlay bg-primary" style="opacity: 0.85;"></div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-6">
                <div class="text-center">
                    <h1 class="text-white mb-0">Product Grid Right Sidebar</h1>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb breadcrumb-light justify-content-center mt-4">
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Product</a></li>
                            <li class="breadcrumb-item"><a href="javascript:void(0);">Grid View</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Right Sidebar</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <!--end col-->
        </div>
        <!--end row-->
    </div>
    <!--end container-->
</section>

<div class="position-relative section">
    <div class="container">
        <div class="ecommerce-product gap-4">
            <div class="flex-grow-1">
                <p-dataView #dv [value]="products" dataKey="id" [paginator]="true" [rows]="9" filterBy="title,price,type,rating,color,size" layout="grid" (onPage)="onPageChange($event)" [sortField]="sortField" [sortOrder]="sortOrder">
                    <ng-template pTemplate="header">
                        <div class="d-flex align-items-center gap-2 mb-4">
                            <p class="text-muted flex-grow-1 mb-0">Showing {{first}} - {{endIndex}} of {{products.length}} results</p>

                            <div class="flex-shrink-0">
                                <select class="form-select w-md" id="sort-elem" (change)="onSortChange($event)">
                                    <option value="">All</option>
                                    <option value="low_to_high">Low to High</option>
                                    <option value="high_to_low">High to Low</option>
                                </select>
                            </div>
                        </div>
                    </ng-template>
                    <ng-template let-data pTemplate="gridItem">
                        <div class="col-lg-4 col-md-6 pe-2">
                            <div class="card overflow-hidden element-item">
                                <div class="bg-light py-4">
                                    <div class="gallery-product">
                                        <img src="{{data.img}}" alt="" style="max-height: 215px; max-width: 100%;" class="mx-auto d-block" />
                                    </div>
                                    <p *ngIf="data.tag" class="fs-11 fw-medium badge bg-primary py-2 px-3 product-lable mb-0">Best Arrival</p>
                                    <div class="gallery-product-actions">
                                        <div class="mb-2">
                                            <button type="button" class="btn btn-danger btn-sm custom-toggle" data-bs-toggle="button">
                                                <span class="icon-on"><i class="mdi mdi-heart-outline align-bottom fs-15"></i></span>
                                                <span class="icon-off"><i class="mdi mdi-heart align-bottom fs-15"></i></span>
                                            </button>
                                        </div>
                                        <div>
                                            <button type="button" class="btn btn-success btn-sm custom-toggle" data-bs-toggle="button">
                                                <span class="icon-on"><i class="mdi mdi-eye-outline align-bottom fs-15"></i></span>
                                                <span class="icon-off"><i class="mdi mdi-eye align-bottom fs-15"></i></span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="product-btn px-3">
                                        <a href="javascript:void(0);" class="btn btn-primary btn-sm w-75 add-btn"><i class="mdi mdi-cart me-1"></i> Add to Cart</a>
                                    </div>
                                </div>
                                <div class="card-body">
                                    <div>
                                        <a href="javascript:void(0);">
                                            <h6 class="fs-16 lh-base text-truncate mb-0">{{data.title}}</h6>
                                        </a>
                                        <div class="mt-3">
                                            <span class="float-end">{{data.rating}} <i class="ri-star-half-fill text-warning align-bottom"></i></span>
                                            <h5 class="mb-0">
                                                ${{data.price}} <span *ngIf="data.mrp" class="text-muted fs-12"><del>${{data.mrp}}</del></span>
                                            </h5>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!--end col-->
                    </ng-template>
                    <!--end row-->

                    <ng-template pTemplate="empty" class="row" id="search-result-elem">
                        <div class="col-lg-12">
                            <div class="text-center py-5">
                                <div class="avatar-lg mx-auto mb-4">
                                    <div class="avatar-title bg-primary-subtle text-primary rounded-circle fs-24">
                                        <i class="bi bi-search"></i>
                                    </div>
                                </div>

                                <h5>No matching records found</h5>
                            </div>
                        </div>
                        <!--end col-->
                    </ng-template>
                    <!--end row-->
                    <ng-template pTemplate="paginatorleft"></ng-template>
                </p-dataView>
            </div>
            <div class="sidebar small-sidebar flex-shrink-0">
                <div class="card overflow-hidden">
                    <div class="card-header">
                        <div class="d-flex mb-3">
                            <div class="flex-grow-1">
                                <h5 class="fs-16">Filters</h5>
                            </div>
                            <div class="flex-shrink-0">
                                <a (click)="dv.filter($event.target.value)" class="text-decoration-underline" id="clearall">Clear All</a>
                            </div>
                        </div>

                        <div class="search-box">
                            <input type="text" pInputText class="form-control" id="searchProductList" (input)="dv.filter($event.target.value)" placeholder="Search Products..." />
                            <i class="ri-search-line search-icon"></i>
                        </div>
                    </div>

                    <div class="accordion accordion-flush filter-accordion">
                        <div class="card-body border-bottom">
                            <div>
                                <p class="text-muted text-uppercase fs-12 fw-medium mb-3">Products</p>
                                <ul class="list-unstyled mb-0 filter-list">
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('grocery')">Grocery</h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('fashion')">Fashion</h5>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <span class="badge bg-light text-muted">5</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('watches')">Watches</h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('electronic')">
                                                    Electronics
                                                </h5>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <span class="badge bg-light text-muted">5</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('furniture')">
                                                    Furniture
                                                </h5>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <span class="badge bg-light text-muted">6</span>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('automative')">
                                                    Automotive Accessories
                                                </h5>
                                            </div>
                                        </a>
                                    </li>
                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('appliances')">
                                                    Appliances
                                                </h5>
                                            </div>
                                            <div class="flex-shrink-0 ms-2">
                                                <span class="badge bg-light text-muted">7</span>
                                            </div>
                                        </a>
                                    </li>

                                    <li>
                                        <a href="javascript:void(0);" class="d-flex py-1 align-items-center">
                                            <div class="flex-grow-1">
                                                <h5 class="fs-13 mb-0 listname" (click)="dv.filter('kids')">Kids</h5>
                                            </div>
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                        <div class="card-body border-bottom">
                            <p class="text-muted text-uppercase fs-12 fw-medium mb-4">Price</p>

                            <p-slider [(ngModel)]="rangeValues" [range]="true" [min]="0" [max]="2000" (onChange)="handleChange($event)" (onChange)="dv.filter($event.value, 'contains')"></p-slider>
                            <div class="formCost d-flex gap-2 align-items-center mt-3">
                                <input class="form-control form-control-sm" type="text" id="minCost" value="0" [(ngModel)]="range1" /> <span class="fw-semibold text-muted">to</span>
                                <input class="form-control form-control-sm" type="text" id="maxCost" value="1000" [(ngModel)]="range2" />
                            </div>
                        </div>

                        <p-accordion collapseIcon="mdi mdi-chevron-up" [multiple]="true" expandIcon="mdi mdi-chevron-down" activeIndex="0,1,2">
                            <p-accordionTab styleClass="accordion-item" iconPos="end">
                                <ng-template pTemplate="header" headerStyleClass="accordion-header accordion-button bg-transparent shadow-none">
                                    <span class="text-muted text-uppercase fs-12 fw-medium">Colors</span> <span class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <div id="flush-collapseColors" class="accordion-collapse collapse show" aria-labelledby="flush-headingColors">
                                        <ul class="clothe-colors list-unstyled hstack gap-3 mb-0 flex-wrap" id="color-filter">
                                            <li>
                                                <input type="radio" name="colors" value="success" id="color-1" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-success p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-1"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="info" id="color-2" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-info p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-2"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="warning" id="color-3" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-warning p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-3"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="danger" id="color-4" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-danger p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-4"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="primary" id="color-5" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-5"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="secondary" id="color-6" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-secondary p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-6"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="dark" id="color-7" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-dark p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-7"></label>
                                            </li>
                                            <li>
                                                <input type="radio" name="colors" value="light" id="color-8" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-light p-0 d-flex align-items-center justify-content-center rounded-circle" for="color-8"></label>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-accordionTab>
                            <p-accordionTab styleClass="accordion-item" iconPos="end">
                                <ng-template pTemplate="header" headerStyleClass="accordion-header accordion-button bg-transparent shadow-none">
                                    <span class="text-muted text-uppercase fs-12 fw-medium">Sizes</span> <span class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <div id="flush-collapseSize" class="accordion-collapse collapse show" aria-labelledby="flush-headingSize">
                                        <ul class="clothe-size list-unstyled hstack gap-3 mb-0 flex-wrap" id="size-filter">
                                            <li>
                                                <input type="radio" name="sizes" value="xs" id="sizeXs" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="sizeXs">XS</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="s" id="sizeS" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="sizeS">S</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="m" id="sizeM" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="sizeM">M</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="l" id="sizeL" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="sizeL">L</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="xl" id="sizeXl" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="sizeXl">XL</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="2xl" id="size2xl" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="size2xl">2XL</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="3xl" id="size3xl" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="size3xl">3XL</label>
                                            </li>
                                            <li>
                                                <input type="radio" name="sizes" value="4xl" id="size4xl" (input)="dv.filter($event.target.value)" />
                                                <label class="avatar-xs btn btn-soft-primary p-0 d-flex align-items-center justify-content-center rounded-circle" for="size4xl">4XL</label>
                                            </li>
                                        </ul>
                                    </div>
                                </ng-template>
                            </p-accordionTab>
                            <p-accordionTab styleClass="accordion-item" iconPos="end">
                                <ng-template pTemplate="header" headerStyleClass="accordion-header accordion-button bg-transparent shadow-none">
                                    <span class="text-muted text-uppercase fs-12 fw-medium">Brands</span> <span class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <div id="flush-collapseBrands" class="accordion-collapse collapse show" aria-labelledby="flush-headingBrands">
                                        <div class="search-box search-box-sm">
                                            <input type="text" class="form-control bg-light border-0" id="searchBrandsList" placeholder="Search Brands..." />
                                            <i class="ri-search-line search-icon"></i>
                                        </div>
                                        <div class="d-flex flex-column gap-2 mt-3 filter-check">
                                            <div class="form-check">
                                                <input class="form-check-input me-2" type="checkbox" value="Boat" id="productBrandRadio5" />
                                                <label class="form-check-label" for="productBrandRadio5">Boat</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input me-2" type="checkbox" value="OnePlus" id="productBrandRadio4" />
                                                <label class="form-check-label" for="productBrandRadio4">OnePlus</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input me-2" type="checkbox" value="Realme" id="productBrandRadio3" />
                                                <label class="form-check-label" for="productBrandRadio3">Realme</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input me-2" type="checkbox" value="Sony" id="productBrandRadio2" />
                                                <label class="form-check-label" for="productBrandRadio2">Sony</label>
                                            </div>
                                            <div class="form-check">
                                                <input class="form-check-input me-2" type="checkbox" value="JBL" id="productBrandRadio1" />
                                                <label class="form-check-label" for="productBrandRadio1">JBL</label>
                                            </div>

                                            <div>
                                                <button type="button" class="btn btn-link text-decoration-none text-uppercase fw-medium p-0">1,235 More</button>
                                            </div>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-accordionTab>

                            <p-accordionTab styleClass="accordion-item" iconPos="end">
                                <ng-template pTemplate="header" headerStyleClass="accordion-header accordion-button bg-transparent shadow-none">
                                    <span class="text-muted text-uppercase fs-12 fw-medium">Discount</span> <span class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <div class="d-flex flex-column gap-2 filter-check" id="discount-filter">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="50" id="productdiscountRadio6" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio6">50% or more</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="40" id="productdiscountRadio5" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio5">40% or more</label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="30" id="productdiscountRadio4" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio4">
                                                30% or more
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="20" id="productdiscountRadio3" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio3">
                                                20% or more
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="10" id="productdiscountRadio2" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio2">
                                                10% or more
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="0" id="productdiscountRadio1" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productdiscountRadio1">
                                                Less than 10%
                                            </label>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-accordionTab>

                            <p-accordionTab styleClass="accordion-item" iconPos="end">
                                <ng-template pTemplate="header" headerStyleClass="accordion-header accordion-button bg-transparent shadow-none">
                                    <span class="text-muted text-uppercase fs-12 fw-medium">Rating</span> <span class="badge bg-success rounded-pill align-middle ms-1 filter-badge"></span>
                                </ng-template>
                                <ng-template pTemplate="content">
                                    <div class="d-flex flex-column gap-2 filter-check" id="rating-filter">
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="4" id="productratingRadio4" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productratingRadio4">
                                                <span class="text-muted">
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </span>
                                                4 & Above
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="3" id="productratingRadio3" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productratingRadio3">
                                                <span class="text-muted">
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </span>
                                                3 & Above
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="2" id="productratingRadio2" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productratingRadio2">
                                                <span class="text-muted">
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </span>
                                                2 & Above
                                            </label>
                                        </div>
                                        <div class="form-check">
                                            <input class="form-check-input" type="checkbox" value="1" id="productratingRadio1" (input)="dv.filter($event.target.value)" />
                                            <label class="form-check-label" for="productratingRadio1">
                                                <span class="text-muted">
                                                    <i class="mdi mdi-star text-warning"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                    <i class="mdi mdi-star"></i>
                                                </span>
                                                1
                                            </label>
                                        </div>
                                    </div>
                                </ng-template>
                            </p-accordionTab>
                        </p-accordion>
                        <!-- end accordion-item -->
                    </div>
                </div>
                <!-- end card -->
            </div>
        </div>
    </div>
    <!--end container-->
</div>

<app-discount-footer [discount]="25"></app-discount-footer>

<app-features></app-features>

<!-- Footer -->
<app-footer></app-footer>